ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# 切换 npm 官方源
registry=https://registry.npmjs.org

# 切换新的 taobao 源
registry=https://registry.npmmirror.com